@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Research Lab Database Management</h1>
    <p class="lead">Here you can view, edit, delete or add entries on the database.</p>
</div>

